.vanyaNiger{
    margin-top: 3%;
    width: 50%;
}

.gey{
    background-color: rgb(184, 181, 181);
}

.yroki{
    width: 20%;
    margin-top: 5%;
}

.ad{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}